<div name="thank">
    <p class="font-italic"  >
        <i>
        Vorremmo ringraziare:<br>
        <a href="https://it.linkedin.com/in/ivandamien" style="color:#164f16">Ivan Castagna</a>,<br>
        <a href="https://www.linkedin.com/in/stefania-bertolini-229018a8/" style="color:#164f16">Stefania bertolini</a>,<br>
        <a href="https://www.linkedin.com/in/alberto-pranteddu-16602a231/" style="color:#164f16">Alberto Pranteddu</a>,<br>
        <a href="https://www.linkedin.com/in/federico-orani/" style="color:#164f16">Federico Orani</a>, e<br>
        <a href="https://www.linkedin.com/in/stefano-argiolu-90343015b/" style="color:#164f16">Stefano Argiolu</a><br>
        i quali sono stati molto disponibili e competenti sia per chiarimenti che per spiegazioni di nuovi concetti di
        programmazione. <br>
        Tuttavia, vorremmo ringraziare il <a href="http://www.poliba.it/" style="color:#164f16">Politecnico di Bari</a>, che ci ha permesso di
        interfacciarci per la prima volta con una vera e propria azienda, Accenture, per l'appunto.
        Ringraziamo infine l'ing.<a href="https://www.linkedin.com/in/marco-fiore/" style="color:#164f16">Fiore Marco</a> e la prof.ssa
        Mongiello del corso di Ingegneria del Software, per averci fortemente consigliato il progetto con l'azienda
        anzichè il tradizionale progetto di gruppo
    </i>
    </p>
</div>