html, body, app-root {
  height: 100%;
  margin: 0;
  
  }

#titolo{
  padding-top:100px;
  padding-left:150px;
  font-size: 60px;
  font-weight: bold;
  color: rgb(31, 155, 0);

}
#sottotitolo{
  padding-top:0px;
  padding-left:280px;
  font-size: 35px;
  font-weight: bold;

}