html, body, app-root {
  height: 100%;
  margin: 0;
  
  }

#titolo{
  padding-top:100px;
  padding-left:150px;
  font-size: 60px;
  font-weight: bold;
  color: rgb(31, 155, 0);

}
#sottotitolo{
  padding-top:0px;
  padding-left:280px;
  font-size: 35px;
  font-weight: bold;

}

.gettingstarted{
  position: absolute;
  width: 600px;
  height: 300px;
  margin: 20% 30%;
  text-align: center;

}

.gettingstarted h1{
  text-align: center;
  color: rgb(59, 6, 6);
  font: size 60px; 
}
.gettingstarted button{
  border: 1px solid #fff;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
  color:#fff;
  

}