<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand" style="padding-left:35px">Ecoshipping</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/rider" class="nav-link" routerLink="rider">Rider Board</a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Registrazione</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Accesso</a>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href="/createorder" class="nav-link" routerLink="createorder">Crea Ordine</a>
      </li>
      <li class="nav-item">
        <a href="/getOrders" class="nav-link" routerLink="getOrders">Visualizza Ordini</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Servizi</h3>
          <ul>
            <li><a href="https://angular.io/">Framework</a></li>
            <li><a href="https://code.visualstudio.com/">Development front-end</a></li>
            <li><a href="https://www.jetbrains.com/idea/">Development back-end</a></li>
            <li><a href="https://www.phpmyadmin.net/">Hosting database</a></li>

          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>About</h3>
          <ul>
            <li><a routerLink="thanks">Ringraziamenti</a></li>
            <li><a href="#">Team</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>Ecoshipping</h3>
          <p>Eco-shipping nasce da un'idea di<a href="https://www.accenture.com/it-it">Accenture</a> PLC, nota multinazionale con sede legale
             a Dublino che svolge attività di consulenza informatica e non solo, la quale è stata un punto di riferimento durante il processo
             di sviluppo della web-app.
          </p>
        </div>
        <!--inserire logo poliba e logo accenture con sito indirizzamento-->
        <div class="col item social">
          <a href="accenture.png"><i class="icon"></i></a>
          <a href="#"><i class="icon ion-social-twitter"></i></a>
          <a href="#"><i class="icon ion-social-instagram"></i></a>
        </div>
      </div>
      <p class="copyright">EcoShip © 2023</p>
    </div>
  </footer>
</div>