<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="https://i.imgur.com/4DIPv5k.png"
      class="profile-img-card"
    />
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="indirizzoPartenza">Indirizzo di partenza: </label>
        <input
          type="text"
          class="form-control"
          name="indi"
          [(ngModel)]="form.indirizzoPartenza"
          required
          #indirizzoPartenza="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && indirizzoPartenza.errors }"
        />
        <div *ngIf="indirizzoPartenza.errors && f.submitted" class="invalid-feedback">
          Indirizzo vuoto o errato!
        </div>
      </div>
      <div class="form-group">
        <label for="indirizzoDestinazione">Indirizzo di consegna: </label>
        <input
          type="text"
          class="form-control"
          name="indirizzoDestinazione"
          [(ngModel)]="form.indirizzoDestinazione"
          required
          #indirizzoDestinazione="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && indirizzoDestinazione.errors }"
        />
        <div *ngIf="indirizzoDestinazione.errors && f.submitted" class="invalid-feedback">
          indirizzo di consegna vuoto o errato! 
        </div>
      </div>
      
      <div class="form-group">
        <label for="fasciaOraria">
          Scegli in che momento della giornata preferiresti ricevere l'ordine: 
        </label>
        <select id="fasciaOraria" name="fasciaOraria" [(ngModel)]="form.fasciaOraria" class="form-control">
          <option value="MATTINA" #selected>Mattina</option>
          <option value="POMERIGGIO">Pomeriggio</option>
          <option value="SERA">Sera</option>
        </select>
      </div>

      <div class="form-group">
        <label for="volumeSpedizione">Volume spedizione:</label>
        <input
          type="text"
          class="form-control"
          name="indi"
          [(ngModel)]="form.volumeSpedizione"
          required
          #volumeSpedizione="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && volumeSpedizione.errors }"
        />
        <div *ngIf="volumeSpedizione.errors && f.submitted" class="invalid-feedback">
          Volume vuoto o errato!
        </div>
      </div>
      
      <div class="form-group">
        <label for="pesoSpedizione">Peso del pacco in kg: </label>
        <input
          type="text"
          class="form-control"
          name="indi"
          [(ngModel)]="form.pesoSpedizione"
          required
          #pesoSpedizione="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && pesoSpedizione.errors }"
        />
        <div *ngIf="pesoSpedizione.errors && f.submitted" class="invalid-feedback">
          Peso del prodotto vuoto o errato!
        </div>
      </div>

      <div class="form-group">
        <label for="numTelefonoDestinatario">Numero di telefono: </label>
        <input
          type="text"
          class="form-control"
          name="indi"
          [(ngModel)]="form.numTelefonoDestinatario"
          required
          #numTelefonoDestinatario="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && numTelefonoDestinatario.errors }"
        />
        <div *ngIf="numTelefonoDestinatario.errors && f.submitted" class="invalid-feedback">
          Numero di telefono vuoto o errato!
        </div>
      </div>

      <div class="form-group">
        <label for="noteConsegna">Descrivici la tua consegna: </label>
        <input
          type="text"
          class="form-control"
          name="indi"
          [(ngModel)]="form.noteConsegna"
          required
          #noteConsegna="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && noteConsegna.errors }"
        />
        <div *ngIf="noteConsegna.errors && f.submitted" class="invalid-feedback">
          Dacci giusto qualche dettaglio..
        </div>
      </div>

      <div class="form-group">
        <label for="metodoPagamento">
          Scegli un metodo di pagamento
        </label>
        <select id="metodoPagamento" name="metodoPagamento" [(ngModel)]="form.metodoPagamento" class="form-control">
          <option value="CONTANTI">Contanti</option>
          <option value="CC">Carta di debito</option>
        </select>
      </div>






<br>        
      <div class="form-group">
        <button class="btn btn-success btn-block btn-lg">
          <p class="fw-bold" style="color:rgb(255, 255, 255);">Vai al pagamento </p>
        </button>
      </div>
      <div class="form-group">
        <div *ngIf="f.submitted && isCreateOrderFailed" class="alert alert-danger" role="alert">
          Login failed: {{ errorMessage }}
        </div>
      </div>


    </form>
    <div class="alert alert-success" *ngIf="isSuccessful && isContantiMethod" >
      Oridine Creato! <br>
      Pagherai in contanti, grazie!
    </div>
    <div class="alert alert-success" *ngIf="isSuccessful && (!isContantiMethod)" >
      <p class="fw-bold" style="color:darkred;"> GRAZIE</p> <br>
      Concludi l'ordine cliccando qui sotto <br>
      <div class="d-grid gap-2">
        <button class="btn btn-success" type="button" (click)="onPaymentPage()">PAGA E CONCLUDI</button>
      </div>

    </div>


    
  </div>
</div>