<!--
  <html>
<head>
  <title>Gestione Ordine</title>
</head>
<body>
<h1>Gestione Ordine></h1>


?php
	echo "<ul><li>ID Ordine: ";
  echo $ID_ordine;
  echo "<br><li>ID Spedizione: ";
  echo $ID_Spedizione;
  echo "<br><li>Indirizzo partenza: ";
  echo $Indirizzo_Partenza;
  echo "<br><li>Metodo di Pagamento: ";
  echo $Indirizzo_Consegna;
  echo "<br><li>Metodo di Pagamento:";
  echo $Metodo_Pagamento;
  echo "<br><li>Costo: ";
  echo $Costo;
  echo "<br><li>Stato Consegna: ";
  echo $Stato_Consegna;
  echo "</ul>"
  ?>

</body>
</html>



-->
