

<div class="col-md-12">
  <div class="card card-container">
    <img
    id="profile-img"
    src="https://i.imgur.com/4DIPv5k.png"
    class="profile-img-card"
  />
  <form class="row g-3" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
    <div class="col-md-12">
      <label for="titolareCarta" class="form-label">Titolare carta</label>
      <input type="text" class="form-control" id="titolareCarta" #required [(ngModel)]="form.titolareCarta"
        #titolareCarta="ngModel" placeholder="Mario Rossi" 
      />
    </div>
    <div class="col-md-12">
      <label for="cardNumber" class="form-label">Numero carta</label>
      <input type="text" class="form-control" id="cardNumber" #required [(ngModel)]="form.cardNumber"
        #cardNumber="ngModel" placeholder="1234 5678 1234 5678" minlength="16" maxlength="16" 
        [ngClass]="{ 'non valido': cardNumber.errors}" 
      />
      </div>
      <div class="col-md-6">
      <label for="dataScadenza" class="form-label">Data di scadenza</label>
      <input type="month" class="form-control" id="dataScadenza" #required [(ngModel)]="form.dataScadenza"
        #dataScadenza="ngModel" placeholder="01/2023" 
      />
    </div>
    <div class="col-md-6">
      <label for="codiceCvv" class="form-label">CVV</label>
      <input type="number" class="form-control" id="codiceCvv" #required [(ngModel)]="form.codiceCvv" 
       #codiceCvv="ngModel"
       placeholder="123" minlength="3" maxlength="3"
       [ngClass]="{ 'non valido': codiceCvv.errors}"
      />
    </div>
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary">Concludi e paga</button>
    </div>
  
    <div class="alert alert-success" *ngIf="isSuccessful">
      Grazie. <br>
      Un rider sarà subito da te!
    </div>
  
  
    <div class="alert alert-warning" *ngIf="onSubmit()">
      Signup failed!<br />{{ errorMessage }}
    </div> 
  </form>

</div>
