<div class="col-md-12">
  <div class="card card-container">
    <img
    id="profile-img"
    src="https://i.imgur.com/4DIPv5k.png"
    class="profile-img-card"
   />
   <form 
     name="form" 
     (ngSubmit)="f.form.valid" 
     #f="ngForm" 
     novalidate>
    <div class="col-md-12">
      <label for="titolareCarta" class="form-label">Titolare carta</label>
      <input 
        type="text" 
        class="form-control" 
        required 
        [(ngModel)]="form.titolareCarta"
        name="titolareCarta"
        #titolareCarta="ngModel" 
        placeholder="Mario Rossi" 
      />
    </div>
    <div class="col-md-12">
      <label for="cardNumber" class="form-label">Numero carta</label>
      <input 
        type="text" 
        class="form-control" 
        required 
        [(ngModel)]="form.cardNumber"
        name="numeroCarta"
        #cardNumber="ngModel" 
        placeholder="1234567812345678" 
        minlength="16" maxlength="16" 
        [ngClass]="{ 'non valido': cardNumber.errors}" 
      />
       <div *ngIf="cardNumber.errors" class="invalid-feedback">
        Numero di carta non valido!
       </div>
    </div>
      <div class="col-md-6">
      <label for="dataScadenza" class="form-label">Data di scadenza</label>
      <input 
        type="month" 
        class="form-control" 
        required 
        [(ngModel)]="form.dataScadenza"
        name ="dataScadenza"
        #dataScadenza="ngModel" 
        placeholder="01/2023" 
      />
    </div>
    <div class="col-md-6">
      <label for="codiceCvv" class="form-label">CVV</label>
      <input 
        type="number" 
        class="form-control" 
        id="codiceCvv" 
        required 
        [(ngModel)]="form.codiceCvv"
        name ="codiceCvv"
        #codiceCvv="ngModel"
        placeholder="123" minlength="3" maxlength="3"
        [ngClass]="{ 'non valido': codiceCvv.errors}"
      />
      <div *ngIf="codiceCvv.errors" class="invalid-feedback">
        CVV non valido!
      </div>
    </div>
    <br>
    <div class="col-md-12">
      <button class="btn btn-primary" onclick="">Concludi e paga</button>
    </div>
    <div class="form-group">
      <div *ngIf="f.submitted && isCreatePaymentFailed" class="alert alert-danger" role="alert">
        Payment Failed: {{ errorMessage }}
      </div>
    </div>
   </form>
   <div class="alert alert-success" *ngIf="isSuccessful">
      Grazie. <br>
      Un rider sarà subito da te
   </div>
    
  </div>
</div>
