<div class="container">
    <h5 *ngIf="shipment.id != 0" class="text-center mt-3"> Spedizione #{{ shipment.id }}</h5>
    <div class="table-responsive">
        <table class="table table-bordered p-0 m-0">
            <thead *ngIf="shipment.id != 0">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data Evasione</th>
                    <th scope="col">Id Rider</th>
                    <th scope="col">Stato Attuale</th>
                </tr>
            </thead>
            <h2 *ngIf="shipment.id == 0">Attendi che il tuo ordine sia preso in carico da un rider!</h2>
            <tbody *ngIf="shipment.id != 0">
                <tr>
                    <td>{{ shipment.id}}</td>
                    <td>{{ shipment.dataEvasione }}</td>
                    <td>{{ shipment.idRider}}</td>
                    <td>{{ shipment.tipoStato }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>