<div class="container"><br><br>
    <h5 *ngIf="shipment.id != 0" class="text-center mt-3"> Spedizione #{{ shipment.id }}</h5>
    <div class="table-responsive">
        <table class="table table-bordered p-0 m-0">
            <thead *ngIf="shipment.id != 0">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data Evasione</th>
                    <th scope="col">Assegnato</th>
                    <th scope="col">Stato Attuale</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ shipment.id}}</td>
                    <td>{{ shipment.dataEvasione }}</td>
                    <td>Si</td>
                    <td>{{ shipment.tipoStato }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>