
<div class="container">
    <h5 class="text-center mt-3">Ordini di {{ currentUser.username }}</h5>
    <div class="d-flex my-2">
        <a href="#" routerLink="createorder" class="btn btn-outline-success ms-auto">Crea un nuovo ordine ora!</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered p-0 m-0">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Indirizzo di partenza</th>
                    <th scope="col">Indirizzo di consegna</th>
                    <th scope="col">Volume</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Costo</th>
                    <th scope="col"></th>
                    
                </tr>
            </thead>
            <tbody>
                <tr scope="row" *ngFor="let ordine of orders">
                    <td>{{ ordine.idOrdine}}</td>
                    <td>{{ ordine.indirizzoPartenza }}</td>
                    <td>{{ ordine.indirizzoConsegna}}</td>
                    <td>{{ ordine.volumeSpedizione }}</td>
                    <td>{{ ordine.pesoSpedizione }}</td>
                    <td>{{ ordine.costoFinale }}</td>
                    <td><button href="#" routerLink="/shipment" class="btn btn-info m-1" type="button" (click)="setOrderId(ordine.idOrdine)">View</button>
                    <!--<td><a href="#" [routerLink]="['/shipment']" class="btn btn-info m-1">View</a> --> 
                    </td>
                </tr>
                <tr scope="row" *ngIf="orders.length === 0">
                    <td colspan="6" class="text-center">No record found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>